
body{
	background-color: pink;
	background-size: contain;
}

h3{
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 150%;
	font-family: "Times New Roman", Georgia;
	border: 5px solid;
	color: red;

}
h1{
	text-align: center;
	color: red;
}
h3{
	text-align: center;
}
img{
	width: 700px; 
	height: 300px;
	margin-left: 300px;
	transition: all 1s;
}
img:hover {
	transform: scale(1.1);
}

